
div{
    border: 0px solid hotpink;
}

.line-ctn{
    display:flex;
    justify-content: space-between; 
    margin: auto;
}


.line-around{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.sub-line{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.sub-col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.under{
    text-decoration: underline;
}

.center{
    align-self: center;
    text-align: center;
}

.half{
    width:45%;
}

.one-third{
    width:35%;
}

.two-third{
    width:60%;
}

.full{
    width:100%;
    height: 100%;
}

.res-center{
    
}

.hgt{
    height:2%;
}

.flex-btn{
    flex-grow: 1;
    
}

.full-border{
    border: 2px solid black;
}

.dot-border{
    border: 2px dashed black;
    align-items: center;
}
  
td, th {
    text-align: center;
    padding: 8px;
  }
  
th{
    background-color: gray;
}

tr:nth-child(even) {
    background-color: lightslategrey;
  }

tr:nth-child(odd) {
    background-color: lightgrey;
  }


.warn{
  animation-name: glow;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes glow{
    from{color: black;}
    to{color: red;}
}
@media screen and (max-width:500px) {
    .line-around{
        flex-direction: column;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .line-ctn{
        flex-direction: column;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .half{
        width:90%;
    }


    td, th {
        padding: 0px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .res-center{
        align-items: center;
        align-self: center;
        text-align: center;
    }
}